<section id="logos" class="row">

  <h2>Logos</h2>


  <% if @logos.size != 0 %>
    <% @logos.each do | logo | %>
      <div id="logo<%= logo.id %>" data-file-location="<%= logo.path %>" class="col-sm-4">
        <div class="img-background" style="height: 339px;">
          <img src="<%= logo.path %>" class="img-responsive logo">
        </div>
        <div class="logo-meta">
          <label class="img-label"><%= logo.name %></label>
          <a href="#" class="delete-asset" data-logoid="<%= logo.id %>"></a>
          <div class="logo-options">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Options
              <span class="caret"></span>
            </a>

            <ul role="menu" class="dropdown-menu">
              <li class="dropdown-header">Download</li>
              <li><a href="#"><%= logo.name %>.ai</a></li>
              <li><a href="#"><%= logo.name %>.png</a></li>
              <li><a download=""><%= logo.name %>.jpg</a></li>
            </ul>

          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= "Add some logos to you brand" %>
  <% end %>




</section>