<!--  -->



  <div id="brand-page" style="width: 100%;" class="" >


      


    <h1 id="brand-name-header"><%= Brand.find(session[:current_brand]).name.titleize %></h1> 
    <%= render 'brand_nav' %>  
    <%= render 'logos' %>
    <hr/>
    <%= render 'color' %>
    <hr/>
    <%= render 'typography' %>
    <hr/>
    <%= render 'copy' %>
    <hr/>
    <%= render 'guideline' %>
    <!--render misc files-->
    <!--render guidelines-->
    <!--render copy-->
  </div>

</div>


