<!--  -->


<div class="container">

  <div id="brand-page" style="width: 100%;" class="" >


      


    <h1 id="brand-name-header"><%= @brand.name.titleize %></h1> 
    <%= render 'brand_nav' %>  
    <%= render 'logos' if @brand.logos.present? %>
    <hr/>
    <%= render 'color' if @brand.colors.present? %>
    <hr/>
    <%= render 'typography' if @brand.fonts.present? %>
    <hr/>
    <%= render 'copy' if @brand.copies.present? %>
    <hr/>
    <%= render 'guideline' if @brand.guidelines.present? %>
    <!--render misc files-->
    <!--render guidelines-->
    <!--render copy-->
  </div>

</div>


