<!-- 	margin and background -->

<style>
.modal-dialog {
	width: 50%;
	height: 80%;
	overflow-y: auto;
}

.lh-background {
	background-color: blue;
	height: 100%;
}


.lh-background-one {
	background-color: #<%= @colors.first.hex if @colors.present? %>;

	height: 100%;
	}

.lh-background-two {
	background-color: #<%= @colors[1].hex if @colors[1].present?%>;
	height: 100%;
}
</style>

<div id='business_card_pdf'>
	
<!-- 	border and lines  -->
	<div class="no_border">
		<div id="no_background">
			<div id="business_card_image">
				<h1 style="font-family:'Calibri'"><%= Brand.find(session[:current_brand]).name.capitalize %></h1>
				<h4><%= @user.firstname.capitalize %> <%= @user.surname.capitalize %></h4>
			</div>
		</div>
	</div>`
</div>
