<div class="modal fade" id="businessCardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="businessCardModal">Business Card Builder</h4>
      </div>
      <div class="modal-body">
        <div id ="business_card_background">
          <% content_for :head_includes do %>
            <link rel="stylesheet" type="text/css" href="/wicked/business_card_template.css">
          <% end %>
          <%= render 'pdfs/business_card.pdf.erb' %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bam_btn" data-dismiss="modal">Close</button>
        <div class="business_card_generation">
          <%= link_to "Download to pdf", business_card_path(@user, :format => "pdf"), :id => "businessCardGenerator", :class => "btn bam_btn"%>
            <% @colors.each do |color| %>
              <button type="button" class="btn bam_btn change_background",
              data-color="#<%= color.hex %>" >change background to <%= color.name %></button>
            <% end %>
            <% @images.each do |image| %>
              <button type="button" class="btn bam_btn change_image",
              data-image="#<%= image.path %>" >change image to <%= image.name %></button>
            <% end %>
          <button type="button" class="btn bam_btn" id="add_border">Add Border
          </button>
        </div>
      </div>    
    </div>
  </div>
</div>