<section id="color" class="row">
<h2>Colors</h2>
<!-- <div style="display:none">
     <%= form_for Color.new, url: user_brand_colors_path(params[:user_id], params[:id], format: :json) , remote: true, authenticity_token: true, method: 'get', html: {id: 'load_color' } do |f|%>
      <%= f.hidden_field(:brand_id, :value => params[:id]) %>
    <% end %> 
  </div>  -->

<% if @colors.size > 0 %>
  <% @colors.each do | color | %>
    <div id="color<%= color.id %>" class="col-sm-4 swatch-wrapper">
      <div class="swatch" style="background-color: #<%= color.hex %>;">
        <div class="copy-alert copied">
        </div>
      </div>
      <ul class="color-list">
        <li class="color-name"><%= color.name %><a href="#" class="delete-asset"></a></li>
        <li>CSS HEX: <span class="copy_text" data-clipboard-text=""><%= color.hex %></li>
         
      </ul>
    </div>
  <% end %>
<% else %>
  <h3> Looks like you need to add some colors to your brand!</h3>
<% end %>

</section>