

<div id="multi_asset_form">
  <div class="asset_module">
    <%= form_for Logo.new, url: user_brand_logos_path(params[:user_id], params[:id]), method: 'post', multipart: true do |f| %>
      <%= f.label(:name, "Logo Name") %>
      <%= f.text_field(:name) %>
      <%= f.label(:description, "What is the logo used for?") %>
      <%= f.text_field(:description) %>
      <%= f.label(:permission, "Private") %>
      <%= f.check_box(:permission) %>
      <%= f.label(:path, "Add a logo") %>
      <%= f.file_field(:path) %>
      <%= f.hidden_field(:brand_id, :value => params[:id]) %>
      <%= f.submit 'Add File' %>
    <% end %> 
  </div>

    <div class="asset_module">
     <%= form_for Color.new, url: user_brand_colors_path(params[:user_id], params[:id]), method: 'post') do %>

      <%= label_tag(:hex, "Hex Colour code") %>
      <%= text_field_tag(:hex) %>
      <%= label_tag(:name, "Colour name") %>
      <%= text_field_tag(:name) %>
      <%= label_tag(:primary, "Is it the primary colour?") %>
      <%= check_box_tag(:primary) %>
      <%= hidden_field_tag(:brand_id, params[:id]) %>
      <%= submit_tag 'Add colour' %>
    <% end %>
  </div>

  <div class="asset_module">
    <%= form_tag(user_brand_copies_path(params[:user_id], params[:id]), method: 'post') do %>

      <%= label_tag(:description, "Copy description") %>
      <%= text_field_tag(:description) %>
      <%= label_tag(:text, "Copy text") %>
      <%= text_area_tag(:text) %>
      <%= hidden_field_tag(:brand_id, params[:id]) %>
      <%= submit_tag 'Add copy' %>
    <% end %>
  </div>

  <div class="asset_module">
        <%= form_tag(user_brand_fonts_path(params[:user_id], params[:id]), method: 'post') do %>

      <%= label_tag(:name, "Font Name") %>
      <%= text_field_tag(:name) %>
      <%= label_tag(:font_family, "Font Family") %>
      <%= text_field_tag(:font_family) %>
      <%= hidden_field_tag(:brand_id, params[:id]) %>
      <%= submit_tag 'Add font' %>
    <% end %>
  </div>

  <div class="asset_module">
    <%= form_for Guideline.new, url: user_brand_guidelines_path(params[:user_id], params[:id]), method: 'post' do |f| %>

      <%= f.label :description, "Guideline description" %>
      <%= f.text_field(:description) %>
      <%= f.label(:text, "Guideline") %>
      <%= f.text_area(:text) %>
      <%= f.hidden_field(:brand_id, :value => params[:id]) %>
      <%= f.submit 'Add Guideline' %>
    <% end %>
  </div>

    <div class="asset_module">
    <%= form_tag( user_brand_misc_assets_path(params[:user_id], params[:id]), method: 'post', multipart:true) do %>
      <%= label_tag(:name, "Asset name" ) %>
      <%= text_field_tag(:name) %>
      <%= label_tag(:description, "Asset description") %>
      <%= text_field_tag(:description) %>
      <%= label_tag(:thumbnail, "Asset") %>
      <%= text_area_tag(:thumbnail) %>
      <%= label_tag(:permissions, "Public") %>
      <%= check_box_tag(:permissions) %>
      <%= hidden_field_tag(:brand_id, params[:id]) %>
      <%= submit_tag 'Add Asset' %>
    <% end %>
  </div>


</div>