

<div id="multi_asset_form">
  <div class="asset_module">
    <%= form_for Logo.new, url: user_brand_logos_path(params[:user_id], params[:id]), method: 'post', multipart: true do |f| %>
      <%= f.label(:name, "Logo Name") %>
      <%= f.text_field(:name) %>
      <%= f.label(:description, "What is the logo used for?") %>
      <%= f.text_field(:description) %>
      <%= f.label(:permission, "Private") %>
      <%= f.check_box(:permission) %>
      <%= f.label(:path, "Add a logo") %>
      <%= f.file_field(:path) %>
      <%= f.hidden_field(:brand_id, :value => params[:id]) %>
      <%= f.submit 'Add File' %>
    <% end %> 
  </div>

    <div class="asset_module">
     <%= form_for Color.new, url: user_brand_colors_path(params[:user_id], params[:id]), method: 'post' do |f| %>
      <%= f.label(:hex, "Hex Colour code") %>
      <%= f.text_field(:hex) %>
      <%= f.label(:name, "Colour name") %>
      <%= f.text_field(:name) %>
      <%= f.label(:primary, "Is it the primary colour?") %>
      <%= f.check_box(:primary) %>
      <%= f.hidden_field(:brand_id, :value => params[:id]) %>
      <%= f.submit 'Add colour' %>
    <% end %>
  </div>

  <div class="asset_module">
    <%= form_for Copy.new, url: user_brand_copies_path(params[:user_id], params[:id]), method: 'post' do |f| %>

      <%= f.label(:description, "Copy description") %>
      <%= f.text_field(:description) %>
      <%= f.label(:text, "Copy text") %>
      <%= f.text_area(:text) %>
      <%= f.hidden_field(:brand_id, :value => params[:id]) %>
      <%= f.submit 'Add copy' %>
    <% end %>
  </div>

  <div class="asset_module">
        <%= form_for Font.new, url: user_brand_fonts_path(params[:user_id], params[:id]), method: 'post' do |f| %>

      <%= f.label(:name, "Font Name") %>
      <%= f.text_field(:name) %>
      <%= f.label(:font_family, "Font Family") %>
      <%= f.text_field(:font_family) %>
      <%= f.hidden_field(:brand_id, :value => params[:id]) %>
      <%= f.submit 'Add font' %>
    <% end %>
  </div>

  <div class="asset_module">
    <%= form_for Guideline.new, url: user_brand_guidelines_path(params[:user_id], params[:id]), method: 'post' do |f| %>

      <%= f.label :description, "Guideline description" %>
      <%= f.text_field(:description) %>
      <%= f.label(:text, "Guideline") %>
      <%= f.text_area(:text) %>
      <%= f.hidden_field(:brand_id, :value => params[:id]) %>
      <%= f.submit 'Add Guideline' %>
    <% end %>
  </div>

    <div class="asset_module">
    <%= form_for MiscAsset.new, url: user_brand_misc_assets_path(params[:user_id], params[:id]), method: 'post', multipart:true do |f| %>
      <%= f.label(:name, "Asset name" ) %>
      <%= f.text_field(:name) %>
      <%= f.label(:description, "Asset description") %>
      <%= f.text_field(:description) %>
      <%= f.label(:thumbnail, "Asset") %>
      <%= f.file_field(:thumbnail) %>
      <%= f.label(:permissions, "Public") %>
      <%= f.check_box(:permissions) %>
      <%= f.hidden_field(:brand_id, :value => params[:id]) %>
      <%= f.submit 'Add Asset' %>
    <% end %>
  </div>


</div>