<div id="multi_asset_form">

    <div class="panel-group" id="dashboard-accordion">
      
      <div class="panel">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        <div class="panel-heading">
          <h4 class="panel-title">
              Logos
          </h4>
        </div>
        </a>
        <div id="collapseOne" class="panel-collapse collapse "> 
          <div class="panel-body">
            <div class="asset_module">
              <%= form_for(Logo.new, url: user_brand_logos_path(params[:user_id], params[:id], format: :json), remote: true, authenticity_token: true, method: 'post', multipart: true) do |f| %>
               <!--  <%= f.label(:name, "Logo Name") %> -->
                <%= f.text_field(:name, class: "form-control", :placeholder => 'Logo Name') %>
               <!--  <%= f.label(:description, "What is the logo used for?") %> -->
                <%= f.text_field(:description, class: "form-control", :placeholder => 'Logo Description') %>
                <%= f.label(:permission, "Private") %>
                <%= f.check_box(:permission) %>
                <%= f.label(:path, "Add a logo") %>
                <%= f.file_field(:path, class: "form-control file-upload") %>
                <p>Click or drag a file into the section above to upload</p> 
                <section id="upload_status">
                </section>
                <%= f.hidden_field(:brand_id, :value => params[:id]) %>
                <%= f.submit('Add File', id: "logo_submit", class: "bam_btn btn") %>
              <% end %> 
              <script id="logo_upload" type="text/x-tmpl">
                <div class="file-upload">
                  
                  <p class="file-upload-name">{%= o.name%}</p>
                  <div class="file-progess-bar">
                    <div class="file-progress-meter"></div>
                  </div>
                  
                </div>
              </script>
            </div>
          </div>
        </div>
      </div>
    
  <div class="panel">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
      <div class="panel-heading">
        <h4 class="panel-title">Colors</h4>
      </div>
    </a>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
          <div class="asset_module">
           <%= form_for Color.new, url: user_brand_colors_path(params[:user_id], params[:id], format: :json), remote: true, authenticity_token: true,  method: 'post' do |f| %>

          <!--   <%= f.label(:hex, "Hex Colour code") %> -->
            <%= f.text_field(:hex, class: "form-control", :maxlength => 6, :placeholder => 'HEX Color', :id => "hex-input") %>
            <div class="checkbox-wrapper">
            <%= f.check_box(:primary, :id => "check-1") %>
            <%= f.label(:Primary, for: "check-1", class: "check-box") %>
            </div>
            <!-- <%= f.label(:name, "Colour name") %> -->
            <%= f.text_field(:name, class: "form-control", :placeholder => 'Color Name' ) %>

            <%= f.hidden_field(:brand_id, :value => params[:id], class: "hidden-field") %>
            <%= f.submit('Add colour', class: "bam_btn_inverse btn") %>

            <% end %>
          </div>
        </div>
      </div>
    </div>

  <div class="panel ">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
        <div class="panel-heading">
          <h4 class="panel-title">Brand Copy</h4>
        </div>
      </a>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="asset_module">
          <h3>Brand Copy</h3>
            <%= form_for Copy.new, url: user_brand_copies_path(params[:user_id], params[:id], format: :json), remote: true, authenticity_token: true, method: 'post' do |f| %>

              <%= f.label(:description, "Copy description") %>
              <%= f.text_field(:description, class: "form-control") %>
              <%= f.label(:text, "Copy text") %>
              <%= f.text_area(:text, class: "form-control") %>
              <%= f.hidden_field(:brand_id, :value => params[:id]) %>
              <%= f.submit('Add copy', class: "bam_btn_inverse btn") %>
            <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="panel">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
      <div class="panel-heading">
        <h4 class="panel-title">Typography</h4>
      </div>
    </a>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
          <div class="asset_module">
          <%= form_for Font.new, url: user_brand_fonts_path(params[:user_id], params[:id], format: :json), remote: true, authenticity_token: true, method: 'post' do |f| %>
          <%= f.label(:name, "Font Name") %>
          <%= f.text_field(:name, class: "form-control") %>
          <%= f.label(:font_family, "Font Family") %>
          <%= f.text_field(:font_family, class: "form-control") %>
          <%= f.hidden_field(:brand_id, :value => params[:id]) %>
          <%= f.submit('Add font', class: "bam_btn_inverse btn") %>
        <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="panel">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
      <div class="panel-heading">
        <h4 class="panel-title">Brand Guidelines</h4>
      </div>
    </a>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="asset_module">
          <%= form_for Guideline.new, url: user_brand_guidelines_path(params[:user_id], params[:id], format: :json), remote: true, authenticity_token: true,  method: 'post' do |f| %>

            <%= f.label :description, "Guideline description" %>
            <%= f.text_field(:description, class: "form-control") %>
            <%= f.label(:text, "Guideline") %>
            <%= f.text_area(:text, class: "form-control") %>
            <%= f.hidden_field(:brand_id, :value => params[:id]) %>
            <%= f.submit('Add Guideline', class: "bam_btn btn") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

    <div class="panel">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
        <div class="panel-heading">
          <h4 class="panel-title">Files</h4>
        </div>
      </a>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
          <div class="asset_module">
          <%= form_for(MiscAsset.new, url: user_brand_misc_assets_path(params[:user_id], params[:id]), authenticity_token: true, method: 'post') do |f| %>
            <%= f.label(:name, "Asset name" ) %>
            <%= f.text_field(:name, class: "form-control") %>
            <%= f.label(:description, "Asset description") %>
            <%= f.text_field(:description, class: "form-control") %>
            <%= f.label(:thumbnail, "Asset") %>
            <%= f.file_field(:thumbnail, class: "form-control") %>
            <%= f.label(:permissions, "Public") %>
            <%= f.check_box(:permissions) %>
            <%= f.hidden_field(:brand_id, :value => params[:id]) %>
            <%= f.submit("Add Asset", class: "bam_btn btn") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="panel">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
        <div class="panel-heading">
          <h4 class="panel-title">Templates</h4>
        </div>
      </a>
    <div id="collapseSeven" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="asset_module">
          <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#businessCardModal">
              Business Cards
          </button>     
        </div>
      </div>
    </div>
  </div>


  <h2 style="color:white"><%= Brand.find(session[:current_brand]).name.capitalize %></h2>
  <h2 style="color:white"><%= current_user.firstname.capitalize %></h2>

    </div><!--panel-group-->
  </div><!--#multi-asset-form-->
