

<%= render "form" %>

<div id="logged-in-page-wrapper" class="">

  <div id="dashboard" class="">
  <%= render 'form' %>  <!--render dashboard here -->
  </div>

  <div id="brand-page" class="">
  
  <button class="menu-button-target" data-ic-class="button-trigger"id="dashboard_toggle">
  <span class="menu-button"></span>
</button>
 
    <%= render 'logos' %>
    <hr/>
    <%= render 'typography' %>
    <!--render colors-->
    <!--render typography-->
    <!--render misc files-->
    <!--render guidelines-->
    <!--render copy-->
  </div>

</div>


<!-- IF PAGE IS SET TO PRIVATE AND USER IS NOT LOGGED IN: -->
<div class="hidden"><!--hidden until we gett sessions working-->
  <%= render 'private_page' %>
</div>


