<div class="form-inline">
  <%= nav_bar :fixed => :top, :responsive => true do %>
  	<%= menu_group do %>
    	<%= menu_item "BAM", root_path %>
        <% if current_user %>
          <%= button_to "Log out", {:controller => :sessions,
          :action => 'destroy', :id => current_user.id }, :method => :delete %>
          <h2>welcome <%= current_user.firstname.capitalize %></h2>
        <% else %>      
          <button class="btn bam_btn" data-toggle="modal" data-target="#signUpModal">
          <%= link_to 'Sign up with us', new_user_path %>
          </button>
          <%= render 'users/sign_up_modal'%>
        <% end %>
      <% end %>
    <% end %>
</div>
