<!DOCTYPE html>
<html>
<head>
  <title>Bam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' unless @disable_nav %>

<%= yield %>


<div class="container">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value) %>
  <% end %>
</div>

<script type="text/javascript">
$( document ).ready(function() {
  $('#dashboard_toggle').on('click', function() {
    $("#dashboard").toggleClass('closed');
    $("#brand-page").toggleClass('dashboard-open');
    // $("#multi_asset_form").animate({'left': '-500px'}, 500);
  });
});
</script>
<script type="text/javascript">
  var $menuTrigger = $('[data-ic-class="button-trigger"]'),
    $menuOverlay = $('[data-ic-class="overlay"]'),
    $menuItem = $('.menu-item'),
    activeClass = 'active';

$menuTrigger.click(function(){
  $menuTrigger.toggleClass(activeClass);
});
</script>

<!--<script type="text/javascript">
//   $('#requestAccessModal').modal(options)
// </script>
-->

</body>
</html>
