<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<%= wicked_pdf_stylesheet_link_tag '/wicked/business_card_template.css' %>

  <!--   letterhead stylesheets -->
    <% if @letter_head == 1 %>
      <%= wicked_pdf_stylesheet_link_tag '/wicked/letter_heads/letter_head_template_one.css' %>
    <% elsif @letter_head == 2 %>
      <%= wicked_pdf_stylesheet_link_tag '/wicked/letter_heads/letter_head_template_two.css' %>
    <% end %>

<!--   general jquery and js for wicked -->
		<%= wicked_pdf_javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js" %>
		<%= wicked_pdf_javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" %>
    <%= wicked_pdf_javascript_include_tag "assets/brands.js" %>

  </head>
  <body>
    <%= yield %>
  </body>
</html>


